In [20]:
import pandas as pd

# toma de contacto

In [21]:
diccionario = [{'a': 12, 'b': 4, 'c': 9},{'a': 6, 'b':12, 'c':19}]

df =pd.DataFrame(diccionario)
df

    a   b   c
0  12   4   9
1   6  12  19

# Series

In [22]:
serie = pd.Series([2,6,-4,5,9,2.6], index=['a', 'b', 'c', 'd', 'e', 'f'])
serie

a    2.0
b    6.0
c   -4.0
d    5.0
e    9.0
f    2.6
dtype: float64

In [23]:
# borra serie
serie2 =serie.drop(['a', 'e'])
serie2

b    6.0
c   -4.0
d    5.0
f    2.6
dtype: float64

In [24]:
# seleccion
serie[['a', 'b']]

a    2.0
b    6.0
dtype: float64

In [25]:
# asignacion
serie['b'] = 55
serie

a     2.0
b    55.0
c    -4.0
d     5.0
e     9.0
f     2.6
dtype: float64

In [26]:
# filtros - pulsar alt+126 ~
# valores menor a 5
serie[~(serie>4)]

a    2.0
c   -4.0
f    2.6
dtype: float64

In [27]:
serie[(serie<4)]

a    2.0
c   -4.0
f    2.6
dtype: float64

In [28]:
serie

a     2.0
b    55.0
c    -4.0
d     5.0
e     9.0
f     2.6
dtype: float64

In [29]:
# valores entre intervalo
serie[(serie<0) | (serie>4)]

b    55.0
c    -4.0
d     5.0
e     9.0
dtype: float64

In [30]:
# valores nulos al unir con diferentes indices
serie3 = pd.Series([7, 5, -4], index = ['b', 'c', 'e'])
serie3

b    7
c    5
e   -4
dtype: int64

In [31]:
serie4 = serie+serie3
serie4

a     NaN
b    62.0
c     1.0
d     NaN
e     5.0
f     NaN
dtype: float64

In [32]:
# operadores con metodos de relleno
serie.add(serie3, fill_value=0)

a     2.0
b    62.0
c     1.0
d     5.0
e     5.0
f     2.6
dtype: float64

In [33]:
serie4=serie.sub(serie3, fill_value=0)
serie4

a     2.0
b    48.0
c    -9.0
d     5.0
e    13.0
f     2.6
dtype: float64

In [ ]:
serie.mul(serie3, fill_value=0)

a      0.0
b    385.0
c    -20.0
d      0.0
e    -36.0
f      0.0
dtype: float64

In [35]:
serie.div(serie3, fill_value=0)

a         inf
b    7.857143
c   -0.800000
d         inf
e   -2.250000
f         inf
dtype: float64