In [27]:
import pandas as pd

Escribe una función a la que le podamos pasar un diccionario con notas de alumnos y nos devuelva la nota mínima, la máxima y media

In [28]:

def dame_estadistica(notas):
    notas = pd.Series(notas)
    estadistica = pd.Series([notas.min(), notas.max(), notas.mean()], index = ['minimo', 'maximo', 'Media'])
    return estadistica

notas = {"Ana": 12, "Luis": 17, "Pedro": 15}
print(dame_estadistica(notas))

minimo    12.000000
maximo    17.000000
Media     14.666667
dtype: float64

Crea una serieo a partir de una matriz con índices

In [29]:
import numpy as np
datos = np.array(["Seat", "Audi", "Fiat", "Reanul" ])
indices = [1,2,3,4]
serie= pd.Series(datos, index = indices)
serie

1      Seat
2      Audi
3      Fiat
4    Reanul
dtype: object

Crea una serie a partir de un diccionario

In [30]:
diccionario = {"juan": 15,
               "edgar": 20,
               "maria": 36,
               "valve": 65}

serie1 = pd.Series(diccionario)
serie1

juan     15
edgar    20
maria    36
valve    65
dtype: int64

Crea una serie  partir de una lista

In [31]:
Lista = [1,2,3,5,8,4,6,9]
serie5 = pd.Series(Lista, index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
serie5

a    1
b    2
c    3
d    5
e    8
f    4
g    6
h    9
dtype: int64

Busca informacion en la web para crear una serie usando la función linspace de numpy

In [32]:
serie6 = pd.Series(np.linspace(25,55,8))
serie6

0    25.000000
1    29.285714
2    33.571429
3    37.857143
4    42.142857
5    46.428571
6    50.714286
7    55.000000
dtype: float64

crea una serie con numeros al azar entre 0 y 1

In [33]:
serie=pd.Series(np.random.rand(10))
serie

0    0.339234
1    0.819586
2    0.543313
3    0.039040
4    0.282216
5    0.375054
6    0.567638
7    0.991223
8    0.260001
9    0.257596
dtype: float64

muestra los elementos de posiciones 1,3,5 de la serie anterior

In [34]:
serie[[1,3,5]]

1    0.819586
3    0.039040
5    0.375054
dtype: float64

muestra los 2 primeros elementps de la serie anterior

In [35]:
serie.head(2)

0    0.339234
1    0.819586
dtype: float64

Muestra los 2 ultimos elementos de la serie anterior

In [36]:
serie.tail(2)

8    0.260001
9    0.257596
dtype: float64